{% extends 'authentication/base.html' %}
{% load static %}
{% block title %}ChangePassword{% endblock %}
{% block content %}
    <div class="col-sm-12">
        <h1 class="text-center">change Password</h1>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="error">{{error}}</p>
                {% endfor %}
                {% endif %}
    
                {% for fm in form %}
                <div class="form-group">
                    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
                </div>
                {% endfor %}
                <input type="submit" value="Save">
            </form>
    
        </form>
        <a href="{% url 'signup' %}">Return Home</a>

    </div>
{% endblock %}
