{% extends 'authentication/base.html' %}
{% load static %}
{% block title %}ChangePassword{% endblock %}
{% block content %}
    <div class="formbox">
        <h3 style="text-align: center;margin-top: 20px;">CHANGE PASSWORD</h3>
        <form class="mx-5" action="" method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="error">{{error}}</p>
                {% endfor %}
                {% endif %}
    
                {% for fm in form %}
                <div class="form-group">
                    {{fm}} {{fm.errors|striptags}}
                </div>
                {% endfor %}
                <input class="inoutfield" type="submit" value="Save">
            </form>
    
        </form>
        <p style="text-align:center;margin-top: 7px;"><a href="{% url 'signup' %}" style=" text-decoration: none;color: black;">Return home</a></p>
        <!-- <button type="button" class="btn btn-success mt-3 mb-3 mx-5"><a style="text-decoration: none;color: white;" class ="loginsignup"a href="{% url 'signup' %}">Return Home</a> -->

    </div>
{% endblock %}
