{% extends 'authentication/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<!-- <div class="col-sm-12 text-light" style="background-color:rgb(192, 238, 255);border-radius: 10px;"> -->

<div class="formbox">
    <h3 style="text-align: center;color:white;margin-top: 60px;letter-spacing: 7px; font-family: 'Courier New', Courier, monospace; font-weight: bold;">LOGIN</h3>
    <form class="inputgroup" action="" method="post" novalidate>
        {% csrf_token %}
        <div class="centermalanu">
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <small class="error" style="position: relative;">{{error}}</small>
            {% endfor %}
            {% endif %}
        </div>
        <div class="centermalanu">
            {% for fm in form %}
            <!--login ko edit garne-->
            <div class="form-group">
                {{ fm }} <small class="text-warning">{{fm.errors|striptags}}</small>
            </div>
            {% endfor %}

        </div>
        <div class="centermalanu">
            <input class="inoutfield" type="submit" value="Login">
        </div>
    </form>

    <!-- <div class="centermalanu">
        <p class="my-3 mx-5">Create an account</p>
        <button type="button" class="inoutfield"><a style="text-decoration: none;color: white;"
                class="loginsignup" href="{% url 'signup' %}">SignUp</a>
    </div> -->
    <p style="margin-top: 80%;margin-bottom: 0;text-align: center;color:white">Not a member yet? <a style="color:black;"
            href="{% url 'signup' %}">Register</a></p>
</div>


{% endblock %}