{% extends 'authentication/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
        <div class="col-sm-12 text-light" style="background-color:rgb(9, 109, 146);border-radius: 10px;">
        <h1 class="text-center my-3">Login</h1>
        <hr style="background-color: white;height:1px;">
        <form class="mx-5" action="" method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="error">{{error}}</p>
                {% endfor %}
            {% endif %}

            {% for fm in form %}
                <div class="form-group">
                    {{ fm.label_tag }} {{ fm }} {{ fm.errors|striptags }}
                </div>
            {% endfor %}

            <input class="btn btn-primary " type="submit" value="Login">
        </form>
        <p class="my-3 mx-5">Create an account</p>
        <button type="button" class="btn btn-success mb-3 mx-5"><a style="text-decoration: none;color: white;" class ="loginsignup" href="{% url 'signup' %}">SignUp</a>

    </div>
{% endblock %}
