<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/css/bootstrap.css' %}">

    <title>User Registration</title>

</head>
<body>
    <div class="container my-5">
        <div class="row">

            <div class="col-sm-12">
                <h1 class="text-center">SignUp</h1>
                
                <form action="" method="post" novalidate >
                    {% csrf_token %}
                    {% for fm in form %}
                    <div class="form-group">
                        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
                    </div>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="SignUp">
                    
                </form>
                <a href="{% url 'login' %}">Login</a>


                {% if messages %}
                    {% for message in messages %}
                        <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
                    {% endfor %}
                {% endif %}
                
                
                
            </div>
        </div>
    </div>


    <script src="{% static 'authentication/js/jquery.js' %}"></script>
    <script src="{% static 'authentication/js/popper.js' %}"></script>
    <script src="{% static 'authentication/js/bootstrap.js' %}"></script>

</body>
</html>