{% extends 'authentication/base.html' %}
{% load static %}
{% block title %}SignUp{% endblock %}
{% block content %}

<div class="formboxsignup">
    <h3 style="text-align: center;margin-top: 60px;letter-spacing: 7px; color:white">SIGNUP</h3>
    <form class="" action="" method="post" novalidate>
        {% csrf_token %}
        <div class="centermalanu">
            {% for fm in form %}
            <div class="form-group">
                {{fm}}<br> <small class="text-warning">{{fm.errors|striptags}}</small>


                {% endfor %}
            </div>
            <input class="inoutfield" type="submit" value="SignUp">
    </form>
    <a href="{% url 'login' %}" style="text-decoration: none;color: rgb(255, 255, 255);text-align: center;"><br>Already have
        an account?</a>
    <!-- <button type="button" class="btn btn-success mb-3 mx-5"><a style="text-decoration: none;color: white;" class ="loginsignup" href="{% url 'login' %}">Login</a></button> -->


    {% if messages %}
    {% for message in messages %}
    <small style="color:rgb(3, 241, 3);" {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
    {% endfor %}
    {% endif %}
</div>
</div>
{% endblock %}