<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'authentication/css/bootstrap.css' %}">
    
    <title>Chat APP</title>

    <style>
        /* textarea {
            width: 100%;
            height: 300px;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            font-family: sans-serif;
            resize: none;
            overflow-y: auto;
        } */
        textarea, input {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Group Name: {{group_name}}</h1>
        <textarea disabled id="chat-log" cols="100" rows="20">
            {% for chat in chats %}
                {{chat.user}}: {{chat.content}}
            {% endfor %}
        </textarea><br>
        <input id="chat-message-input" type="text" size="80"><br>
        <input id="chat-message-submit" type="button" value="Send">
    
    </div>
    
    {{group_name|json_script:"group-name"}}
    <script>
        const groupName = JSON.parse(document.getElementById('group-name').textContent)
        // console.log("Group Name...",groupName)
        var ws = new WebSocket('ws://'
        +window.location.host
        +'/ws/awsc/'
        +groupName
        +'/')


        ws.onopen = function(){
            // console.log("connection open...")
        }
        ws.onclose = function(){
            // console.log("Websocket connection closed unexpectedly...")
           
        }

        ws.onmessage = function (event){
            console.log("message received from server....",event.data)
            const data = JSON.parse(event.data)
            document.querySelector('#chat-log').value += data.user+" : "+(data.msg+'\n')
        }

        document.getElementById("chat-message-submit").onclick = function(event){
            const messageInputDom = document.getElementById("chat-message-input")
            const message = messageInputDom.value
            ws.send(JSON.stringify({
                'msg':message
            }))
            messageInputDom.value = ''
        }   

    </script>



</body>
</html>