<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/css/bootstrap.css' %}">
    <link rel="stylesheet" href="backend/blog/static/style.css">

    <title>Dashboard | MHM</title>
    <style>
        .success{
            margin-left:10px;
            color:rgb(9, 109, 146);
        }
        .loginsuccess{
            background-color: rgb(221, 243, 249);
            text-align: center;
        }
        .nav-background{
            background-color: rgb(9, 109, 146);
        }

        .jumbo-color{
            background-color: rgb(169, 211, 226);
        }
    </style>
</head>
<body>
    <div class="loginsuccess">
        {% if messages %}
        {% for message in messages %}
            <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
        {% endfor %}
        {% endif %}
    </div>
    
    <div class="container-fluid nav-background">
        {% include 'authentication/navbar.html' %}
    </div>


    <!--Writing for blog from here-->
    <div class="col-sm-12">
        <h1 class="text-dark my-5 text-center">BlogPosts</h1>
        <div class="row">
            <div class="col-4">
               <button class="btn btn-success"><a href="{% url 'addnewpost' %}">Add new post</a></button>
            </div>
        </div>
    </div>

    {% for p in post %}
        
        <div class="container">
            {% if admin %}
                <form action="{% url 'delete' p.id %}" class="d-inline" method="post">
                    {%csrf_token%}
                    <input type="submit" class="btn btn-danger btn-sm " value="Delete">
                </form> 
                <a href="{% url 'update' p.id %}" class="btn btn-warning btn-sm">Edit</a>

            {% endif %}


            <h1 class="display-4">{{p.title}}</h1>
            <p class="lead">{{p.abstract}}</p>
            <hr class="my-4">
            <p>{{p.published_date}}</p>
            <p> Author: <strong>{{p.author}}</strong></p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'readmore' p.id %}" role="button">Read more</a>
            </p>
        </div>
    {% endfor %}
    
    


    <script src="{% static 'authentication/js/jquery.js' %}"></script>
    <script src="{% static 'authentication/js/popper.js' %}"></script>
    <script src="{% static 'authentication/js/bootstrap.js' %}"></script>

</body>
</html>