{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="hero">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-sm-12">
                    {% include 'pages/navbar.html' %}
            </div>
            <div class="col-sm-12 my-5"><h1 style="color:skyblue;" class="text-center">Mental Health Matters</h1></div>

            <div class="container my-5">
                <h3 style="color:skyblue">“Holding onto anger is like drinking poison and expecting the other person to die.”</h3>
                <h4  style="color:skyblue">- Buddha</h4>
            </div>
            
        </div>
    </div>
</div>



{% endblock %}