
{% load static %}


<nav class="navbar navbar-expand-sm navbar-dark nav-background ">
    <a class="navbar-brand" href="{% url 'home-page' %}">
      <img src="{% static 'pages/images/mhm-logo2.png' %}" width="200" height="150" alt="logo">   
    </a>

    <button style="width:50px;border: 1px solid white;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a  class="nav-link" href="{% url 'signup' %}"><h2>Signup</h2></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}"><h2>Login</h2></a>
        </li>

          
      </ul>
    </div>
  </nav>